* {
  margin: 0;
}

.App {
  background-color: #fafafa;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUp-button {
  color: black;
  background-color: gray;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
