.app__header {
  background-color: #ffffff;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.app__header-image {
  object-fit: contain;
}

.app__header-input {
  border-radius: 0.5rem;
  border-width: medium;
}

.app__header-icons {
  display: flex;
}

.app__header-icons div {
  margin: 0.3rem;
  cursor: pointer;
  border-radius: 50%;
}

.app__header-profile {
  padding: 0;
}
